
<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container">
            <a class="navbar-brand mb-0 h1" href="/">MAGACIN VP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="/items">Products</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="/warehouses">Warehouses</a>
                    </li>
                    <li class="nav-item mr-auto" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="/orders/myorders">My Orders</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin controls
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/categories">Categories</a>
                            <a class="dropdown-item" href="/manufacturers">Manufacturers</a>
                            <a class="dropdown-item" href="/orders">Orders</a>
                            <!--<div class="dropdown-divider"></div>-->
                            <a class="dropdown-item" href="/stock">Add new stock</a>
                            <a class="dropdown-item" href="/users">User Control</a>
                            <a class="dropdown-item" href="/reports">Low quantity reports</a>
                        </div>
                    </li>
                    <!--<li class="nav-item mr-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>
                    <li class="nav-item mr-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/manufacturers">Manufacturers</a>
                    </li>
                    <li class="nav-item mr-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/stock">Add new stock</a>
                    </li>
                    <li class="nav-item mr-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>-->
                </ul>

                <script th:inline="javascript">

                    $( function() {
                        var itemNames =  [[${itemNames}]];
                        $( "#search" ).autocomplete({
                            source: itemNames
                        });
                    } );
                </script>

                <form method="GET" action="/items" class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <input id="search" type="search" class="form-control" name="search" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm"
                               placeholder="Search...">
                        <div class="input-group-append">
                        <button type="submit" class="btn btn-warning">
                            <i class="fas fa-search"></i> Search
                        </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/userdetails">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}">
                            </th:block>
                            <img style="width: 30px; height: 30px" src="https://i.imgur.com/wSgmw97.png">
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')" style="margin: auto">
                        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                            <i class="fas fa-shopping-cart"></i> Cart
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()" style="margin: auto">
                        <a class="btn btn-danger btn-sm ml-3" href="/logout">
                             Logout
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()" style="margin: auto">
                        <a class="btn btn-primary btn-sm ml-3" href="/login">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
