<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">MAGACIN VP</h1>
            <h3 class="jumbotron-heading">Checkout</h3>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/orders/checkout" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${product} != null ? ${product.getId()} : '')">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               name="firstName"
                               th:value="${user?.getFirstName()}"
                               required
                               placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               name="lastName"
                               required
                               th:value="${user?.getLastName()}"
                               placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text"
                               class="form-control"
                               id="address"
                               name="address"
                               required
                               th:value="${user?.getAddress()}"
                               placeholder="Enter Address">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text"
                               class="form-control"
                               id="email"
                               name="email"
                               required
                               th:value="${user?.getEmail()}"
                               placeholder="Enter E-Mail">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text"
                               class="form-control"
                               id="country"
                               name="country"
                               required
                               th:value="${user?.getCountry()}"
                               placeholder="Enter Country">
                    </div>
                    <div class="form-group">
                        <label for="City">City</label>
                        <input type="text"
                               class="form-control"
                               id="city"
                               name="city"
                               required
                               th:value="${user?.getCity()}"
                               placeholder="Enter City">
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Zip Code</label>
                        <input type="text"
                               class="form-control"
                               id="zipCode"
                               name="zipCode"
                               required
                               th:value="${user?.getZipcode()}"
                               placeholder="Enter Zip Code">
                    </div>
                    <input type="hidden" name="totalPrice"  th:value="${totalPrice}">
                    <button id="submit" type="submit" class="btn btn-primary">Place Order</button>
                    <a type="button" class="btn btn-primary" href="/shopping-cart">Back</a>
                </form>
            </div>
            <div class="col-md-5">
                <table class="table table-striped" id="tabela">
                    <thead>
                    <tr>
                        <th scope="col">Product name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}" class="product">

                        <td th:text="${item.getItem().getName()}"></td>
                        <td th:text="${item.getItem().getPrice()}"></td>
                        <td th:text="${item.getItem().getManufacturer() != null}
                            ? ${item.getItem().getManufacturer().getName()} : 'No Manufacturer'"></td>
                        <td th:text="${item.getItem().getCategory() != null}
                            ? ${item.getItem().getCategory().getName()} : 'No Category'"></td>
                        <td th:text="${item.getQuantity()}"></td>
                    </tr>

                    </tbody>
                </table>
                <h2 class="jumbotron-heading">Total Price:</h2>
                <h4 class="jumbotron-heading" th:text="${totalPrice}"></h4>
            </div>
        </div>
    </div>

</div>