<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">MAGACIN VP</h1>
            <h3 class="jumbotron-heading" th:text="${item.getName()}"></h3>
        </div>
    </section>
    <div class="container mb-4">
        <div class="row">
            <div style="width: 50%">
            <img style="max-height: 80%;max-width: 80%" th:src="${item.getImageUrl()}">
            </div>
            <div style="width: 50%">
                <p th:text="${item.getPrice()}"></p>
                <p th:text="${item.getCategory().getName()}"></p>
                <p th:text="${item.getManufacturer().getName()}"></p>
                <p th:text="${item.getDescription()}"></p>
                <ul>
                    <li th:each="warehouse: ${item.getWarehouses()}" th:text="${warehouse.getName() + ' - Stock: ' + warehouse.stockOfItem(item.getId())}"></li>
                </ul>

                <br>
                <div>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{'/items/delete/{id}' (id=${item.getId()})}"
                              th:method="DELETE">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-product">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{'/items/edit/{id}' (id=${item.getId()})}"
                           class="btn btn-sm btn-info edit-product">
                            <i class="fa fa-trash">Edit</i>
                        </a>
                    </th:block>
                    <form th:switch="${item.checkAvailability()}" th:action="@{'/shopping-cart/add-product/{id}' (id=${item.getId()})}"
                          th:method="POST"
                          sec:authorize="hasRole('ROLE_USER')">
                        <select id="fromWarehouse" name="fromWarehouse" class="form-control">
                            <option th:each="house: ${item.getWarehouses()}" th:value="${house.getId()}" th:text="${house.getName()}"></option>
                        </select>
                        <button th:case="true" type="submit"
                                class="btn btn-sm btn-primary cart-product">
                            <i  class="fas fa-shopping-cart pr-2">Add product to cart</i>
                        </button>
                        <button th:case="false" disabled class="btn btn-sm btn-primary cart-product">
                            <i  class="fas fa-shopping-cart pr-2">Add product to cart</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>