
<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">MAGACIN VP</h1>
            <h3 class="jumbotron-heading">All products</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <form method="get" action="/items">
                    <div class="row">
                    <div class="form-group col-3">
                    <select class="form-control" name="category">
                        <option value="">All categories</option>
                        <option th:each="category: ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                    </select>
                    </div>
                    <div class="form-group col-3">
                    <select class="form-control" name="manufacturer">
                        <option value="">All manufacturers</option>
                        <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.getId()}" th:text="${manufacturer.getName()}"></option>
                    </select>
                    </div>
                    <div class="col-3" style="margin: auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="true" name="availability" value="true">
                            <label class="form-check-label" for="true">Available</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked id="false" type="radio" name="availability" value="false">
                            <label class="form-check-label" for="false">All</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary" type="submit">Filter</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12" th:if="${items.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" style="width: 100%" id="tabela">
                        <thead>
                        <tr>
                            <th scope="col">Product name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Category</th>
                            <th scope="col">Availability</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${items}" class="product">

                            <td>
                                <a th:href="@{'/items/{id}' (id=${product.getId()})}">
                                    <div th:text="${product.getName()}"></div>
                                </a>
                            </td>
                            <td th:text="${product.getPrice()}"></td>
                            <td th:text="${product.getManufacturer() != null}
                            ? ${product.getManufacturer().getName()} : 'No Manufacturer'"></td>
                            <td th:text="${product.getCategory() != null}
                            ? ${product.getCategory().getName()} : 'No Category'"></td>
                            <td th:text="${product.getAvailability()}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <script th:inline="javascript">
                        $(document).ready( function () {
                            $('#tabela').DataTable({
                                "bFilter": false
                            });
                        } );
                    </script>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/items/add" class="btn btn-block btn-dark add-product-btn">
                            Add new product
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
