<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h3 class="jumbotron-heading">Shopping cart for
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"></th:block>
            </h3>
        </div>
    </section>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${products.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Warehouse</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}" class="cart-item">
                            <td th:text="${product.getItem().getName()}"></td>
                            <td th:text="${product.getItem().getPrice()}"></td>
                            <td th:text="${product.getWarehouse().getName()}"></td>
                            <td th:text="${product.getItem().getManufacturer() != null} ? ${product.getItem().getManufacturer().getName()} : 'No Manufacturer'"></td>
                            <td th:text="${product.getItem().getCategory() != null} ? ${product.getItem().getCategory().getName()} : 'No Category'"></td>
                            <td style="width: 8rem;">
                                <form method="post" th:action="@{'/shopping-cart/changequantity/{id}' (id=${product.getId()})}">
                                    <input class="form-control" name="quantity" type="number" min="1"
                                           th:max="${product.getWarehouse().stockOfItem(product.getItem().getId())}" th:value="${product.getQuantity()}" onkeydown="return false" onchange="this.form.submit()">
                                </form>
                            </td>
                            <td>
                                <form th:action="@{'/shopping-cart/deleteitem/{id}/{itemid}' (id=${cart.getId()},itemid=${product.getId()})}"
                                      th:method="DELETE">
                                    <button type="submit"
                                            class="btn btn-sm btn-danger">
                                        Delete <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <form style="display: inline; padding-right: 10px" action="/orders/checkout"
                          th:method="GET">
                        <button type="submit"
                                class="btn btn-sm btn-primary">
                            Checkout
                        </button>
                    </form>
                    <form style="display: inline;padding-left: 10px" th:action="@{'/shopping-cart/delete/{id}' (id=${cart.getId()})}"
                          th:method="DELETE">
                        <button type="submit"
                                class="btn btn-sm btn-danger">
                            Clear Cart
                        </button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>




