<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">MAGACIN VP</h1>
            <h3 class="jumbotron-heading">
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"></th:block>
            </h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Personal Details</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Password Change</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Deactivate your account</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <form method="POST">
                        <div class="row">
                            <div class="form-group col-3">
                                <label for="firstName">First Name</label>
                                <input type="text"
                                       class="form-control"
                                       id="firstName"
                                       name="firstName"
                                       th:value="${user?.getFirstName()}"
                                       placeholder="First Name">
                            </div>
                            <div class="form-group col-3">
                                <label for="lastName">Last Name</label>
                                <input type="text"
                                       class="form-control"
                                       id="lastName"
                                       name="lastName"
                                       th:value="${user?.getLastName()}"
                                       placeholder="Last Name">
                            </div>
                            <div class="form-group col-3">
                                <label for="email">Email</label>
                                <input type="text"
                                       class="form-control"
                                       id="email"
                                       name="email"
                                       th:value="${user?.getEmail()}"
                                       placeholder="Email">
                            </div>
                            <div class="form-group  col-3">
                                <label for="address">Address</label>
                                <input type="text"
                                       class="form-control"
                                       id="address"
                                       name="address"
                                       th:value="${user?.getAddress()}"
                                       placeholder="Address">
                            </div>
                            <div class="form-group col-3">
                                <label for="city">City</label>
                                <input type="text"
                                       class="form-control"
                                       id="city"
                                       name="city"
                                       th:value="${user?.getCity()}"
                                       placeholder="City">
                            </div>
                            <div class="form-group col-3">
                                <label for="country">Country</label>
                                <input type="text"
                                       class="form-control"
                                       id="country"
                                       name="country"
                                       th:value="${user?.getCountry()}"
                                       placeholder="Country">
                            </div>
                            <div class="form-group col-3">
                                <label for="zipcode">Zip Code</label>
                                <input type="text"
                                       class="form-control"
                                       id="zipcode"
                                       name="zipcode"
                                       th:value="${user?.getZipcode()}"
                                       placeholder="Zipcode">
                            </div>
                            <div class="form-group col-3">
                                <label for="password">Confirm password</label>
                                <input type="password"
                                       class="form-control"
                                       id="password"
                                       name="password"
                                       placeholder="">
                            </div>
                        </div>
                        <input type="hidden" name="username"  th:value="${user?.getUsername()}">
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                        <a type="button" class="btn btn-primary" href="/">Back</a>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <form th:action="@{'/userdetails/changepassword/{username}' (username=${user.getUsername()})}" method="POST">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="firstName">Old Password</label>
                                    <input type="password"
                                           class="form-control"
                                           id="oldpass"
                                           name="oldpass"
                                           placeholder="">
                                </div>
                                <div class="form-group col-4">
                                    <label for="lastName">New Password</label>
                                    <input type="password"
                                           class="form-control"
                                           id="newpass"
                                           name="newpass"
                                           placeholder="">
                                </div>
                                <div class="form-group col-4">
                                    <label for="email">Confirm New Password</label>
                                    <input type="password"
                                           class="form-control"
                                           id="confirmnewpass"
                                           name="confirmnewpass"
                                           placeholder="">
                                </div>
                            </div>
                            <input type="hidden" name="username"  th:value="${user?.getUsername()}">
                            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <form th:action="@{'/userdetails/deactivate/{username}' (username=${user.getUsername()})}" method="POST">
                            <div class="row">
                                <h2 style="padding-left: 15px">To deactivate your account please enter your password:</h2>
                                <div class="form-group col-4">
                                    <label for="lastName">Password</label>
                                    <input type="password"
                                           class="form-control"
                                           id="deactpass"
                                           name="deactpass"
                                           placeholder="">
                                </div>
                                <div class="form-group col-4">
                                    <label for="email">Confirm Password</label>
                                    <input type="password"
                                           class="form-control"
                                           id="deactconfirmpass"
                                           name="deactconfirmpass"
                                           placeholder="">
                                </div>
                            </div>
                            <input type="hidden" name="username"  th:value="${user?.getUsername()}">
                            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>