<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">MAGACIN VP</h1>
            <h3 class="jumbotron-heading">
                <th:block th:text="${'Editing details for user: ' + user?.getUsername()}"></th:block>
            </h3>
        </div>
    </section>
    <div class="container mb-4">
        <div class="row">
            <form method="POST">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="firstName">Username</label>
                        <input type="text"
                               class="form-control"
                               id="username"
                               name="username"
                               th:value="${user?.getUsername()}"
                               placeholder="Username">
                    </div>
                    <div class="form-group col-4">
                        <label for="firstName">First Name</label>
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               name="firstName"
                               th:value="${user?.getFirstName()}"
                               placeholder="First Name">
                    </div>
                    <div class="form-group col-4">
                        <label for="lastName">Last Name</label>
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               name="lastName"
                               th:value="${user?.getLastName()}"
                               placeholder="Last Name">
                    </div>
                    <div class="form-group col-4">
                        <label for="email">Email</label>
                        <input type="text"
                               class="form-control"
                               id="email"
                               name="email"
                               th:value="${user?.getEmail()}"
                               placeholder="Email">
                    </div>
                    <div class="form-group  col-4">
                        <label for="address">Address</label>
                        <input type="text"
                               class="form-control"
                               id="address"
                               name="address"
                               th:value="${user?.getAddress()}"
                               placeholder="Address">
                    </div>
                    <div class="form-group col-4">
                        <label for="city">City</label>
                        <input type="text"
                               class="form-control"
                               id="city"
                               name="city"
                               th:value="${user?.getCity()}"
                               placeholder="City">
                    </div>
                    <div class="form-group col-4">
                        <label for="imageUrl">User Image URL</label>
                        <input type="text"
                               class="form-control"
                               id="imageUrl"
                               name="imageUrl"
                               disabled
                               placeholder="URL">
                    </div>
                    <div class="form-group col-4">
                        <label for="country">Country</label>
                        <input type="text"
                               class="form-control"
                               id="country"
                               name="country"
                               th:value="${user?.getCountry()}"
                               placeholder="Country">
                    </div>
                    <div class="form-group col-4">
                        <label for="zipcode">Zip Code</label>
                        <input type="text"
                               class="form-control"
                               id="zipcode"
                               name="zipcode"
                               th:value="${user?.getZipcode()}"
                               placeholder="Zipcode">
                    </div>
                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/users">Back</a>
            </form>
            <div class="row" style="padding-top: 15px">
                <div class="col-3">
                    <form th:action="@{'/users/delete/{username}' (username=${user.getUsername()})}"
                          th:method="DELETE">
                        <button type="submit"
                                class="btn btn-md btn-danger delete-product">
                            <i class="fa">Delete</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>