<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">MAGACIN VP</h1>
            <h3 class="jumbotron-heading">Warehouses</h3>
        </div>
    </section>
    <div class="container">
        <div id="mapid" style="height: 500px; width: 80%; margin: auto"></div>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin="">
        </script>
        <script th:inline="javascript">
            var mymap = L.map('mapid').setView([41.995961, 21.431476], 13);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap'
            }).addTo(mymap);
            var magacini = [[${displayWarehouses}]] ;
            for(var i=0;i<magacini.length;i++)
            {
                L.marker([magacini[i].latitude,magacini[i].longitude]).addTo(mymap)
                    .bindPopup(
                        "Warehouse: "+magacini[i].name+'<br>'
                        +"Location: "+magacini[i].location
                    )

            }
        </script>
        <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="col-4">
                <ul>
                    <li th:each="warehouse: ${warehouses}">
                        <th:block th:text="${warehouse.getName()}"/>
                        <form th:action="@{'/warehouses/delete/{id}' (id=${warehouse.getId()})}"
                              th:method="DELETE">
                            <button type="submit"
                                    class="btn btn-sm btn-danger">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                    </li>
                </ul>

                <h3>Add New Warehouse</h3>
                <form action="/warehouses/add" method="POST">
                    <label for='name'>Name:</label><input id='name' type='text' name='name'/>
                    <input type='submit' value='Submit'/>
                </form>
            </div>
        </div>
    </div>
</th:block>
